asgiref==3.3.1
dj-database-url==0.5.0
Django==1.11
django-cleanup==5.1.0
django-extensions==3.1.1
django-heroku==0.3.1
django-materialize==1.0.1a2
django-materialize-css==0.0.1
django-materialize-form==0.1.1
django-storages==1.7.2
gunicorn==19.9.0
httplib2==0.19.0
jmespath==0.10.0
olefile==0.46
Pillow==8.1.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
pytz==2021.1
sqlparse==0.4.1
stripe==2.56.0
whitenoise==5.2.0
